.nav {
  background-color: #2b2d31;
  grid-area: n;
  height: 10000px;
  padding-left: 15px;
  padding-top: 10px;
}


.nav_item a {
  text-decoration: none;
  color: #949ba4;
  font-weight: 600;
  font-size: 20px;
}

.nav_item a.active {
  color: #3b669f;
}

.nav_main {
  text-decoration: none;
  color: #d7dee7;
  font-weight: 600;
  font-size: 15px;
}
.name_wrapper {
  margin-top: 6px;
  display: flex;
  gap: 10px; 
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellowgreen;
}